<meta name="workout_id" content="<%= @workout.id%>"> 
<div class="row show-grid">
  <div class="text-center col-xs-12">
    <h2>Workout (<%= @workout.start_time.localtime.strftime("%Y-%m-%d %H:%M")%>)</h2>
  </div>
  <div class="col-xs-12 col-sm-offset-4 col-sm-2 text-center" >
    <div class="panel panel-default">
      <div class="panel-heading" >Pushups:</div>
      <div class="panel-body" id="pushup_count">
        <%= @workout.pushups %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-2 text-center" >
    <div class="panel panel-default">
      <div class="panel-heading">Squats:</div>
      <div class="panel-body" id="squat_count">
        <%= @workout.squats %>
      </div>
    </div>
  </div>
  
  <div class="col-xs-offset-3 col-xs-6">
    <table id="sets" class="table table-bordered table-hover table-condensed">                                                                         
      <thead>                                                                       
        <tr>                                                                        
          <th>Set #</th>                                                           
          <th>Type</th>                                                         
          <th>Count</th>                                                         
          <th>Duration</th>                                                         
        </tr>                                                                       
      </thead>                                                                      

      <tbody>                                                                       
        <% @rep_sets.each do |rep_set| %>                                               
          <tr>                                                                      
            <td><%= rep_set.number %></td>                                         
            <td><%= rep_set.rep_type %></td>                                          
            <td><%= rep_set.count %></td>                                          
            <td><%= rep_set.duration.round %></td>                                          
          </tr>                                                                     
        <% end %>                                                                   
      </tbody>                                                                      
    </table>                                                                        
  </div>
                                                                                  
  <div class="col-xs-12 text-center">
    <%= link_to 'End workout', workouts_path, {class:"btn btn-danger"} %>
  </div>
</div>
